*{
    box-sizing: border-box;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.doggo{
    padding: 5px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
